@import url('https://fonts.googleapis.com/css?family=Raleway');

h1 {
  background-color: #9a2e6f;
}

p, span, .input {
  font-family: 'Raleway';
}

#root, .root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.hero {
  position: relative;
  text-align: right;
  background-color: #118885;
  img {
    width: 20%;
    max-width: 200px;
  }

  .title {
    font-family: 'Raleway';
    color: white;
    padding: 0px 16px;
    font-size: 40px;
  }
}

.social-info {
  font-size: 18px;
  padding: 0 16px 10px;
  a {
    color: #f8faf6;

    &:hover {
      color: #9a2e6f;
    }
  }

}

.header-info {
  position: absolute;
  text-align: left;
  bottom: 0;
}

.credit {
  font-size: 10px;
  font-style: italic;
  padding-left: 16px;
  padding-bottom: 16px;
  color: #f8faf6;
}

.map-canvas {
  width: 100%;
  height: 100%;
  min-height: 150px;
}
.ui.attached {
  &.top {
    margin-top: 0;
    border-bottom: 2px solid #9c2a70 !important;
    border-top: 2px solid #118885 !important;
  }
  &.bottom {
    margin-bottom: 0;
    height: calc(100% - 63px);
    & > .grid {
      height: calc(100% + 2rem);
    }
  }
}

.ui[class*="left icon"].input > i.icon {
  color: #9a2e6f;
}
.search.item {
  width: 100%;
  min-width: calc(320px - 66px);
}

.ui.grid {
  .row {
    padding: 0;
    .wide.column {
      padding: 0;
      overflow: auto;
    }
  }
}

a.heading {
  color: #9c2a70 !important
}

.ui.celled.list > .item, .ui.celled.list > .list {
  margin-bottom: 20px !important;
}

i.red.icon {
  color: #198c19 !important;
}

.branch.item {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  .content.details {
    flex-basis: 300px;
    flex-grow: 3;
  }
  .content.operations {
    flex-basis: 150px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .content.directions {
    flex-basis: 100%;
    flex-grow: 0;
    background-color: aquamarine;
  }
}

.subtitle {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 0.8em;
  color: #3c3c3c;
}

.information {
  font-size: 18px;
  padding: 16px;
}

.ui.celled.list > .item, .ui.celled.list > .list {
  border-top: 1px solid rgba(114, 10, 136, 0.24) !important;
}

@media only screen and (max-width: 767px)  {
  .ui.stackable.grid {
    .row {
      .wide.column {
        padding: 0 !important;
        &.right {
          position: absolute;
          top: 0;
          left: 0;
        }
        &.left {
          position: absolute;
          top: 150px;
          left: 0;
        }
      }
    }
  }
  .ui.segment {
    padding-left: 0;
    padding-right: 0;
  }

  .content.operations {
    margin-top: 10px;
  }
}

.ui.big.list {
  padding-left: 16px !important;
}

.information, .description {
  padding: 16px !important;
}

@media (max-width: 600px) {
  .information, .description {
    font-size: 12px !important;
  }

  .hero .title {
    font-size: 24px;
    margin-bottom: 16px;
  }

  .credit {
    font-size: 8px;
    padding-bottom: 6px;
  }

  .social-info {
    padding-bottom: 5px;
  }
}

@media (max-width: 480px) {
  .hero .title {
    font-size: 18px;
    margin-bottom: 6px;
  }

  .credit {
    font-size: 8px;
    padding-bottom: 6px;
  }

  .social-info {
    padding-bottom: 5px;
    font-size: 16px;
  }
}